* text=auto

# Scripts
*.sh text diff=sh eol=lf
*.ps1 text diff=ps1 eol=crlf

# Documentation
*.md text diff=markdown eol=crlf

# Code
*.php text diff=php eol=lf

# Git attributes
.gitignore text eol=lf export-ignore
.gitattributes text eol=lf export-ignore
Changelog.md export-ignore

/.github eol=lf export-ignore